.ui-sidebar {
    background-color: #FFF6E6;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    font-family: 'DM Sans', sans-serif;
}

.ui-sidebar .mainContent {
    padding: 30px;
}

.sidebar-icons {
    position: fixed;
    top: 0;
    left: 0;
    background: #8c473a;
    z-index: 1051;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 100vh;
    width: 8%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.sidebar-icons a {
    color: #fff;
    margin: 10px 0 10px 5px;
    text-decoration: none;
    cursor: pointer;
    padding: 0px 14px 0 10px;
}

.sidebar-icons a.active {

    /* border-left: 3px white solid; */
    /* font-size: xx-large; */
    font-size: 30px;
}

.sidebar-icons a:last-child {
    position: absolute;
    left: 0px;
    bottom: 0;
    background-color: #3F464D;
    width: 105px;
    text-align: center;
    height: 60px;
    padding: 10px;
    margin: 0;
    /* font-size: xx-large; */
}

.sidebar-icons a i {
    padding-right: 0;
    font-size: 30px;
}

.sidebar-icons a i:focus-visible {
    border: none;
    outline: none;
}

.offcanvas.offcanvas-start {
    left: 40px;
    visibility: visible;
    background-color: #FF8066;
    margin-right: 20px;
    color: #fff;
    width: 250px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.offcanvas-body {
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
}

.offcanvas-body p {
    margin: 10px 0;
}

.offcanvas-body p:last-child {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #3F464D;
    width: 43px;
    text-align: center;
    height: 40px;
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    margin: 0;
}

.ui-sidebar .btn {
    position: fixed;
    left: 0;
    z-index: 999999;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: transparent;
    border: none;
    -webkit-transition: margin .3s;
    -o-transition: margin .3s;
    transition: margin .3s;
    -webkit-transition-delay: .3s;
         -o-transition-delay: .3s;
            transition-delay: .3s;
    height: 50px;
    padding: 0 0 0 25px;
}

.ui-sidebar .btn:focus,
.ui-sidebar .btn:focus-visible {
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.btn.open {
    margin-left: 240px;
}

.btn:hover,
.btn:focus-visible,
.btn:active {
    background-color:transparent !important;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.btn i {
    padding-right: 0;
    background-color: #7ECEFC;
    padding: 10px;
    border-radius: 40px;
    color: #3F464D;
    margin-left: 0;
    transition-delay: .1s;
}

.btn i:nth-child(1) {
    opacity: 1;
}

.btn i:nth-child(2) {
    opacity: 0;
    margin-left: -34px;
}

.btn.open i:nth-child(1) {
    opacity: 0;
    margin-left: 0;
}

.btn.open i:nth-child(2) {
    opacity: 1;
}

.ui-sidebar .mainContent {
    margin-left: 40px;

}

.ui-sidebar .content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.ui-sidebar .content-wrapper h1 {
    text-align: center;
    font-family: 'DM Serif Display', serif;
}

.ui-sidebar .content-wrapper p {
    display: block;
    width: 100%;
    text-align: left;
}

.ui-sidebar .content-wrapper .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 1rem;
}

.ui-sidebar .content-wrapper img {
    max-width: 350px;
    display: block;
    margin: 10px 20px;
}

.ui-sidebar .content-wrapper img.nighttime {
    display: none;
}

/* Dark Mode */
.ui-sidebar.dark {
    background-color: #3F464D;
    color: #fff;
}

.ui-sidebar.dark .sidebar-icons,
.ui-sidebar.dark .offcanvas.offcanvas-start {
    background-color: #000;
}

.ui-sidebar a.dark {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #FFF6E6;
    color: #000;
    border: 4px solid #000;
    padding: 10px;
    border-radius: 40px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-sidebar.dark a.dark {
    background-color: #000;
    color: #fff;
    border: 4px solid #fff;
}

.ui-sidebar a.dark:active {
    bottom: 7px;
    box-shadow: 0px 3px 0 #000;
}

.ui-sidebar.dark a.dark:active {
    bottom: 7px;
    box-shadow: 0px 3px 0 #fff;
}

.ui-sidebar a.dark i {
    font-size: 22px;
    padding-right: 10px;
}

.ui-sidebar a.dark i:nth-child(1) {
    display: none;
}

.ui-sidebar.dark a.dark i:nth-child(1) {
    display: inline-block;
}

.ui-sidebar.dark a.dark i:nth-child(2) {
    display: none;
}

.ui-sidebar.dark .btn i {
    background-color: #2186C4;
    color: #fff;
}

.ui-sidebar.dark .sidebar-icons a:last-child {
    background-color: #333;
}

.ui-sidebar.dark .offcanvas-body p:last-child {
    background-color: #333;
}

.ui-sidebar.dark .content-wrapper img.nighttime {
    display: block;
}

.ui-sidebar.dark .content-wrapper img.daytime {
    display: none;
}



  
  .container {
    height: 100%;
    width: 100%;
  }
  
  .p {
    position: absolute;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  
  @media only screen and (min-width: 500px) {
    .p {
      font-size: 3rem;
    }
  }
  
  @media only screen and (min-width: 700px) {
    .p {
      font-size: 5rem;
    }
  }
  
  .p1 {
    text-shadow: 1px 1px 1px black, -1px -1px 1px black;
    color: rgb(242, 188, 86);
  }
  
  .p2 {
    color: rgb(116, 51, 51);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    animation: text-animation 3s ease-in-out forwards alternate infinite;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black;
  }
  
  .p3 {
    height: 20%;
    color: transparent;
  }
  
  @keyframes text-animation {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    to {
      clip-path: polygon(0 0, 0% 1%, 0% 100%, 0% 100%);
    }
  }
  
  .cursor {
    position: absolute;
    top: 50%;
    height: 100%;
    width: 100%;
    transform: translate(0, -50%);
    border-right: 2px solid rgb(116, 51, 51);
    animation: cursor-animation 3s ease-in-out forwards alternate infinite;
  }
  
  @keyframes cursor-animation {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }
  .sidebar__side{
    background-image: url("https://wallpapercave.com/wp/wp7182011.jpg");
    background-position: 90%;
  }